{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "prefer-template": 0,
    "consistent-return": 0,
    "class-methods-use-this": 0,
    "no-case-declarations": 0,
    "no-plusplus": 0,

    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,
    "react/jsx-filename-extension": ["off"],
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/jsx-fragments": ["off"],
    "react/jsx-key": ["off"],
    "import/prefer-default-export": 0,

    "prettier.quotes": 0
  }
}
