<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->

</head>
<body>
  <form action='/login' method='post'>
    <input name='username' value='master' />
    <input name='password' value='nhanhuynh' />
    <button type='submit' >Login</button>
  </form>
  <% for (var jsIndex = 0; jsIndex < htmlWebpackPlugin.files.js.length; jsIndex++) { %>
    <% if (!htmlWebpackPlugin.files.js[jsIndex].includes('dist')) { %> <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[jsIndex] %>"></script>
  <% }} %>
</body>
</html>
